# Ignore private files
/private/

# Ignore large folders temporarily

# Ignore all folders named 'large' anywhere in the project
**/large/


# Ignore all PSD files
*.psd

# Optional: ignore backups or exports
*.zip
*.bak
