<!-- Utility Navigation Inside the Div class= site-header-->
<div class="utility-nav">
    <div class="utility-container">
      <div class="small-logo">
        <a  href="/index.html"> 
          <img src="../assets/elefant-logo.jpg" alt="Wewe Import Logo">
        </a>
      </div>
  
      <nav class="info-links">
        <ul>
          <li><a href="../pages/about-us.html">About Us</a></li>
          <li><a href="../pages/gen-info.html">Gen Info</a></li>
          <li><a href="../pages/contact-us.html">Contact</a></li>
          <li><a href="../catalogs/catalogue-english.pdf" target="_blank">Catalog</a></li>
        </ul>
      </nav>
  
      <button class="nav-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
    </div>
  </div>
  
  <!-- Desktop Navigation -->
  <nav class="desktop-nav">
    <ul>
      <li><a href="../index.html"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="../pages/bags.html"><i class="fas fa-shopping-bag"></i> Bags</a></li>
      <li><a href="../pages/sandals.html"><i class="fas fa-shoe-prints"></i> Sandals</a></li>
      <li><a href="../pages/dog-collars.html"><i class="fas fa-dog"></i> Dogs</a></li>
      <li><a href="../pages/belts.html"><i class="fas fa-road"></i> Belts</a></li>
      <li><a href="../pages/accessories.html"><i class="fas fa-star"></i> Access.</a></li>
      <li><a href="../pages/flowers.html"><i class="fas fa-seedling"></i> Flowers</a></li>
    </ul>
  </nav>
  
<!--         <div class="clearfloat"></div> -->  