<!-- Utility Navigation -->
<div class="utility-nav">
    <div class="utility-container">
      <div class="small-logo">
        <img src="../assets/elefant-logo.jpg" alt="Wewe Import Logo" />
      </div>
  
      <nav class="info-links">
        <ul>
          <li><a href="/public/pages/about-us.html">About Us</a></li>
          <li><a href="/public/pages/gen-info.html">Gen Info</a></li>
          <li><a href="/public/pages/contact-us.html">Contact</a></li>
          <li><a href="/public/catalogs/catalogue-english.pdf" target="_blank">Catalog</a></li>
        </ul>
      </nav>
  
      <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
    </div>
  </div>
  
  <!-- Desktop Navigation -->
  <nav class="desktop-nav">
    <ul>
      <li><a href="/public/index.html">Home</a></li>
      <li><a href="/public/pages/bags.html">Bags</a></li>
      <li><a href="/public/pages/sandals-by-style.html">Sandals</a></li>
      <li><a href="/public/pages/dog-collars.html">Dogs</a></li>
      <li><a href="/public/pages/belts.html">Belts</a></li>
      <li><a href="/public/pages/accessories.html">Access.</a></li>
      <li><a href="/public/pages/flowers.html">Flowers</a></li>
    </ul>
  </nav>
<!--         <div class="clearfloat"></div> -->  