/* CSS Document */

@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-color: #004e6c;
	color: #004e6c; 	/*color of font */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 960px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color : #Fff;
	; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #004e6c;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 10px;

}
.container h1 {
	font-size: 22px;
	letter-spacing: inherit;
	padding-top: 20px;
	clear: right;
}
.container h2 {
	font-size: 20px;
	text-align: left;
}
.container h3 {
	font-size: 18px;
	font: bold;
}
.container h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font: bold;
}
.container h5 {
	font-size: 16px;
	color: #004e6c;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:red;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}



#MenuBar1 {
	float: left;
}
.photoGallery {
	margin-left: 3%;
	display: inline;
	width: 100%;
	float: none;
}
.Title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #004e6c;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
.container .Paypal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 320px;
	width: 320px;
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #dddddd;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #6F7D94;
	color: #FFF;
}

/* ~~The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #FC6;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
.footer p {
	color: #000;
}

/* ~~miscellaneous float/clear classes~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 15px;
	padding: 10;
	display: inline;
}
.brownBg .container .content .imageKikoi {
	float: left;
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:left;
}
.nav1 p {
	font-size: small;
	font-weight: bold;
	text-transform: uppercase;
	
}
.cell30percent {
	height: 100%;
	width: 33%;
	float: left;
	padding: 0px;
	background-color: #FFF;
	text-align: center;
	clear: none;
}
.cell25percent {
	text-align: center;
	float: left;
	width: 25%;
}
.cell45percent {
	clear: none;
	float: left;
	height: 100%;
	text-align: center;
	width: 50%;
	padding: 0;
}
tr td {
	color: #660033;
}
.content .Paypal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: left;
	height: 250px;	
}

.cell_267 {
	height: 300px;
	width: 400px;
	float: left;
	padding-right: 45px;
	padding-left: 45px;
}

.content .300pxby400px {
	padding: 12px;
	float: left;
	height: 400px;
	width: 300px;
	text-align: center;
	clear: none;
}


.container .clearright {
	padding-top: 50px;
}
.container .nav1 {
	color: green;
	float: right;
	clear: left;
}
